<div class="form">
    <nz-form-control>
        <nz-input-group [nzAddOnBefore]="addOn1">
            <ng-template #addOn1>
                <div style="width: 12em; text-align: left;">Contraseña</div>
            </ng-template>
            <input type="text" nz-input type="password" [formControl]="formGroup.controls.currentPassword"/>
        </nz-input-group>
    </nz-form-control>

    <nz-divider style="margin: 0;"/>
    
    <nz-form-control>
        <nz-input-group [nzAddOnBefore]="addOn2">
            <ng-template #addOn2>
                <div style="width: 12em; text-align: left;">Nueva contraseña</div>
            </ng-template>
            <input type="text" nz-input [type]="showPassword ? 'text' : 'password'" [formControl]="formGroup.controls.newPassword"/>
          </nz-input-group>
    </nz-form-control>
    
    <nz-form-control>
        <nz-input-group nzAddOnBefore="confirmar contraseña">
            <input type="text" nz-input [type]="showPassword ? 'text' : 'password'" [formControl]="formGroup.controls.confirmPassword"/>
          </nz-input-group>
    </nz-form-control>
    <label nz-checkbox [(ngModel)]="showPassword">Mostrar contraseñas</label> 
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()" [nzLoading]="loading()">Cancelar</button>
    <button nz-button nzType="primary" (click)="updatePassword()" [disabled]="disabled()" [nzLoading]="loading()">Actualizar</button>
</div>