:host {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    row-gap: .4em;
    li {
        .btn-actions {
            display: flex;
            column-gap: .5em;
        }
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}