/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
body {
    font-family: 'Roboto Mono', monospace;
}

.flex {
    display: flex;
    column-gap: 1em;
}

.ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label, .ant-form-vertical .ant-form-item-label {
    padding: 0;
    padding-left: .5em;
}